:root {
  --main-font: "Nunito", sans-serif;
  --light-color: #fff;
  --main-color: #ed6436;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.basic-container {
  padding: 0px 30px;
}

.main-title {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--main-color);
}

.pet-activities {
  background: var(--light-color);
}

.pet-activities__header {
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.pet-activities__title {
  font-weight: bolder;
  font-size: 2.5rem;
  text-align: center;
}

.button {
  margin: 10px 0px;
  padding: 10px;
  width: 100px;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--light-color);
  border: 1px solid var(--light-color);
  background-color: var(--main-color);
  border-radius: 0 15px 15px 15px;
}

.button:hover {
  background-color: var(--light-color);
  border: solid 1px var(--main-color);
  color: var(--main-color);
  cursor: pointer;
}

.pet-activities__cards {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.pet-activities__card {
}

.pet-activities__card-image {
  border-radius: 20px 20px 20px 20px;
  object-fit: cover;
  width: 250px;
  height: 300px;
}

.pet-activities__card-texts {
  visibility: hidden;
}

.pet-activities__card-type {
}

.pet-activities__card-title {
}

@media screen and (max-width: 780px) {
  .main-title {
    text-align: center;
  }

  .pet-activities__header {
    justify-content: center;
  }

  .pet-activities__title {
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    width: 100%;
  }

  .pet-activities__cards {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .pet-activities__card {
    width: 300px;
    height: 200px;
  }

  .pet-activities__card-image {
    width: 300px;
    height: 200px;
  }
}
